/*
* 
* @author Rodrigo Miranda
*/

/*======================================
//--//-->   TODOS FUNCIONÁRIOS
======================================*/

.container {
    max-width: 1173px
}

.card-funcionario .card {
    background-color: #fff;
    max-width: 400px;
    min-width: 365px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -15px;
    transition: 0.9s
}

.card-funcionario .card:hover {
    box-shadow: rgba(38, 57, 77, 0.6) 0px 25px 37.5px -20px;
    transform: translateY(-10px)
}

.dados {
    background: #f2f5f8
}

.tipo-dado {
    font-size: 10px;
    color: #a1aab9
}

.dado {
    font-weight: 500
}

#card-email {
    position: fixed;
    z-index: 4
}

#card-email .card {
    border-radius: 10px;
    width: 500px;
    padding: 20px
}

#card-email .img-perfil {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: #e0e0e0
}

#card-email textarea {
    padding: 15px 20px;
    border-radius: 10px;
    /*resize: none;*/
    box-sizing: border-box;
    border-color: #f5f5f5;
    letter-spacing: 1px;
    height: 120px;
    width: 100%
}

#card-email textarea:focus {
    border-color: rgba(0, 0, 0, .1);
    outline-width: 0
}

#card-email ::placeholder {
    color: #bdbdbd
}

#card-email .opcoes {
    font-size: 20px;
    color: #757575;
    cursor: pointer
}

#card-email .opcoes:hover {
    color: #000
}

#atualizar-funcionario {
    position: fixed;
    z-index: 4;
    top: 1%;
    bottom: 1%;
    background-color: #fff
}

#atualizar-funcionario .container {
    overflow-y: scroll;
    height: 100%
}

.form-control:focus {
    box-shadow: none
}

.atualizar-button:focus, .cancelar-button:focus {
    box-shadow: none
}

.labels {
    font-size: 11px
}

/*.range-us:hover i {
    cursor: pointer
}*/

.redes-sociais-atualizar i {
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    padding: 5px
}

#atualizar-funcionario .container {
    box-shadow: 0px 10px 20px #aaa
}

input[type="file"] {
  display: none
}

form label.foto-perfil {
    font-size: 39px;
    position: relative;
    top: 10px;
    left: 70px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 1s
}

form label.foto-perfil:hover {
    transform: translateY(-5.5px)
}